/* Asignaturas.css */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .asignatura-item {
    border-bottom: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
  }
  
  .asignatura-item button {
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

  