/* DetalleAsignatura.css */

.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .asignatura-detalle {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  h3 {
    margin-top: 20px;
  }
  
  .estudiantes-list {
    list-style: none;
    padding: 0;
  }
  
  .estudiante-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }
  
  .estudiante-item div {
    margin-bottom: 5px;
  }
  
  .estudiante-item strong {
    margin-right: 5px;
  }
  