/* components/Estudiante.css */
.perfil-estudiante {
    margin: 20px;
  }
  
  .informacion-estudiante {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .informacion-estudiante p {
    margin: 8px 0;
  }
  