/* components/ListaEstudiantes.css */

.lista-estudiantes {
  margin: 20px;
}

.buscador {
  margin-bottom: 20px;
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos en el buscador */
}

.buscador input {
  padding: 8px;
  margin-right: 8px;
  width: 300px;
}

.cabecera {
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.datos-estudiante {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ver-perfil {
  padding: 8px;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}
