/* components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: white;
  }
  
  .logo img {
    max-height: 80px;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  